.goButton, .resetButton {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: #8BD8E2;
    
    
    
}

h1 {
    font-size: 50px;
    text-align: center;
}

h5 {
    text-align: center;
}





